repos:
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      require_serial: true

    - id: coverage
      name: run test coverage
      entry: bash
      language: system
      stages: [pre-push]
      pass_filenames: false
      args:
        - -c
        - |
          coverage run -m pytest
          coverage report