{% extends "layout.html" %}

{% block title %}
Reference app
{% endblock %}

{% block body %}

<h2>Reference App</h2>

<div>
  <a href="/new_book">Create new book</a>
</div>

{% if references is string %}
  <p>{{ references }}</p>

{% else %}

<pre>
{% for ref in references %}
@book{ {{ ref.citekey }},
  author = { {{ ref.author }} },
  title  = { {{ ref.title }} },
  year   = { {{ ref.year }} },
  publisher = { {{ ref.publisher }} }
}
</pre>
<form method="POST" action="/delete_reference/{{ ref.citekey }}">
<button type="submit">Delete</button>
</form>
<button onclick="location.href='/edit_reference/{{ ref.citekey }}'">Edit</button>
{% endfor %}
{% endif %}
{% endblock %}