{% extends "layout.html" %}

{% block title %}
Reference app
{% endblock %}

{% block body %}

<h2>Reference App</h2>

<div>
  <a href="{{ url_for('new') }}">Create new reference</a>
</div>

<div class="mb-3 d-flex gap-2">
  <form method="get" class="d-flex gap-2">
    <input
      type="text"
      name="ref"
      placeholder="Search references"
      class="form-control"
      value="{{ request.args.get('ref', '') }}"
    />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <form method="get">
    <button type="submit" class="btn btn-secondary">Show all</button>
  </form>
</div>

{% if references is string %}
  <p>{{ references }}</p>

{% else %}

{% for ref in references %}
<div class="d-flex align-items-start gap-3">
  <pre>
  @{{ ref.entry_type }}{ {{ ref.citekey }},
{% for field, value in ref.data.items() %}
    {{ field }} = { {{ value }} }{% if not loop.last %},{% endif %}
{% endfor %}
  }
  </pre>

  <div class="d-flex flex-column gap-1">
    <form method="POST" action="/delete_reference/{{ ref.citekey }}">
      <button class="mt-2" type="submit">Delete</button>
    </form>
      <button class="mt-2" onclick="location.href='/edit_reference/{{ ref.citekey }}'">Edit</button>
  </div>
</div>

{% endfor %}
{% endif %}
{% endblock %}
