{% extends "layout.html" %}

{% block title %}
Todo app
{% endblock %}

{% block body %}

<h2>ABC</h2>

<form action="/save" method="POST">

  <div>
  <label for="author">Author</label>
  <input type="text" name="author" >
  </div>

  <div>
  <label for="title">Title</label>
  <input type="text" name="title">
  </div>

  <div>
  <label for="year">Year</label>
  <input type="text" name="year">
  </div>
  <div>
  <label for="publisher">Publisher</label>
  <input type="text" name="publisher">
  </div>
  <button type="submit">
    Tallenna
  </button>
</form>
<ul>
  {% for todo in todos %}
    <li style="display: flex">
      <div>
        {{ todo }} 
      </div>
      {% if not todo.done %}
        <form action="/toggle_todo/{{ todo.id }}" method="post" style="margin-left: 10px;">
          <button type="submit">mark as done</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<div>
  <a href="/new_todo">Create new todo</a>
</div>

{% endblock %}