name: Code lint

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Install Poetry
        run: pip install poetry
      - name: Install dependencies
        run: poetry install
      - name: Run tests
        env:
          DATABASE_URL: sqlite:///test.db
          SECRET_KEY: dev-secret
          TEST_ENV: "true"
        run: poetry run coverage run --branch -m pytest

      - name: pylinter
        env:
          DATABASE_URL: sqlite:///test.db
          SECRET_KEY: dev-secret
          TEST_ENV: "true"
        run: poetry run pylint src
